body {
  background-color: #000000;
  color: #00F010;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.nav-style {
  border-style: solid;
  border-width: 0px 2px 4px 2px;
  display: flex;
  flex: 1;
}

.left {
  flex: 1;
  justify-content: left;
}

.center {
  flex: 1;
  justify-content: center;
}

.right {
  flex: 1;
  justify-content: right;
}

.main-style {
  display: flex;
  flex: 6;
  justify-content: center;
  flex-direction: row;
  margin-top: 4rem;
  margin-bottom: 12.5rem;
}

.reaction-mode {
  position: relative;
}

.reaction-box {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 40rem;
  background-color: black;
  border-style: solid;
  margin-top: 2rem;
  width: 40rem;
  height: 25rem;
}

.reaction-box > button {
  margin-top: 3rem;
  height: 2.5rem;
  width: 5rem;
}

.aliens-box {
  flex: 2;
  justify-content: left;
  text-align: center;
  border-style: solid;
  margin-left: 15rem;
  margin-right: 15rem;
  height: 30rem;
}

.alien-structures-box {
  flex: 2;
  justify-content: right;
  text-align: center;
  border-style: solid;
  margin-left: 15rem;
  margin-right: 15rem;
  height: 30rem;
}

ul {
  list-style-type: none;
}

footer {
  border-style: solid;
  border-width: 4px 2px 0px 2px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.build-button {
  margin-top: 15rem;
  height: 3rem;
  width: 10rem;
}

footer > button {
  margin-top: 3rem;
  height: 5rem;
  width: 10rem;
}

a {
  color: #FFFFFF;
}